<!--Service Modals-->
<div class="service-modal-wrapper">
    {% for service in services %}
        <div id="modal--{{ service.modalTarget }}" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                        <h3 class="modal-title">{{ service.titleFull }}</h3>
                    </div>
                    <div class="modal-body clearfix">
                        {% if service.image %}<div class="modal-image hidden-xs hidden-sm"><img src="assets/services/{{ service.image }}" alt="{{ service.titleFull }}"></div>{% endif %}
                        {#{% if service.imageSpecial %}<div class="modal-image hidden-xs hidden-sm"><img src="assets/services/{{ service.imageSpecial }}" alt="{{ service.titleFull }}"></div>{% endif %}#}
                        {% for paragraph in service.text %}
                            <p>{{ paragraph }}</p>
                        {% endfor %}
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}

    {#Cleaning and Exams#}
    <div id="modal--cleanings" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Cleanings and Exams</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image hidden-xs hidden-sm"><img src="assets/services/cleanings.jpg" alt="quality services from {{ mainDoctor }}"></div>
                    <p>Dental Cleanings (dental prophylaxis) are essential to preventing gum disease and tooth decay. In
                        a professional cleaning your child's dentist, or hygienist, will:</p>
                    <p class="service-modal__list-item">Remove debris that has built up on the teeth called Plaque and
                        above the gum line, called Calculus (Tarter), both of which irritate the gums and cause decay.
                        Plaque is a sticky substance that forms in the mouth from food, saliva and bacteria. Plaque
                        sticks to teeth and causes tooth decay and gum disease. Calculus is a plaque that has hardened
                        on the tooth surface and is difficult to remove. (Calculus below the gum line indicates gum
                        disease and requires a different procedure for removal)
                    </p>
                    <p class="service-modal__list-item">Polish and remove stains from teeth</p>
                    <p class="service-modal__list-item">Apply fluoride to strengthen teeth and prevent cavities</p>
                    <p class="service-modal__list-item">Give hygiene instructions to improve your child's brushing and
                        flossing habits during home care
                    </p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {#End Cleaning and Exams#}

    <div id="modal--care" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Home Care</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image hidden-xs hidden-sm"><img src="assets/services/healthy.jpg" alt="quality services from {{ mainDoctor }}"></div>
                    <p>Great home care is essential for your child to maintain a healthy, beautiful smile and prevent
                        extensive treatments in the future. That is why it is important for parents to help your child
                        develop regular great oral habits early in their life.</p>
                    <h4>Brushing</h4>
                    <p>Brush your teeth, twice daily, using a soft-bristled tooth brush. Gently vibrate the brush in a
                        circular fashion at a 45 degree angle to the gum line. Then gently vibrate the brush back and
                        forth on each tooth surface until you have effectively cleaned the entire mouth. You should also
                        brush your tongue to remove the bacteria that causes bad breath.</p>
                    <p>Your child should brush for approximately 2 minutes to effectively remove the debris that has
                        formed on their teeth. Parents should monitor their child's brushing until the age of six. Your
                        child's hygiene will be evaluated at his/her examination and effectiveness discussed.</p>
                    <h4>Flossing</h4>
                    <p>Flossing daily removes the debris between teeth that you can’t reach with regular brushing. Take
                        12" to 18" of dental floss and wrap it around the middle finger of each hand. Pull the floss
                        tightly, and then use your thumb and forefingers to slide the floss gently between each set of
                        teeth. Curve the floss around each tooth and move the floss up and down along the tooth, going
                        as low as you can comfortably get under the gum line. Use a fresh section of floss for each
                        tooth until you have flossed the entire mouth. Flossing aids are available to assist children
                        with holding the floss.</p>
                    <h4>Rinsing</h4>
                    <p>Always rinse thoroughly with water after brushing (or after meals if you are unable to brush.)
                        You may occasionally use a mouthwash to rinse. Children may benefit from using fluoridated
                        rinses to help prevent cavities from forming in between the teeth.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modal--pulp" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Pulpotomy (Baby Root Canal)</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image hidden-xs hidden-sm"><img src="assets/services/pulp.jpg" alt="quality services from {{ mainDoctor }}"></div>
                    <h4>The Problem:</h4>
                    <p> Decay that has reached the nerve/pulp of the baby tooth.</p>
                    <h4>The Solution:</h4>
                    <p> Like adult root canals, the dentist will access the nerve chamber of the tooth, and remove some
                        of the nerve/pulp of the tooth. Unlike adult root canals, this is a very short procedure, as
                        only part of the pulp needs to be removed, and does not require the time consuming filing of
                        adult root canals.</p>
                    <h4>Advantages:</h4>
                    <p>If the tooth has been symptomatic this procedure will likely alleviate the pain.</p>
                    <p>Allows for the tooth to be preserved until it is ready to fall out naturally.</p>
                    <h4>Disadvantages:</h4>
                    <p>Pulpotomies have a 90% success rate. Occasionally, the nerve of the tooth is so badly damaged
                        that it does not respond to pulp therapy, resulting in the need for extraction of the offending
                        tooth. Certain circumstances increase the likelihood of failure with pulpotomies, your dentist
                        will discuss your child's situation with you during diagnosis.</p>
                    <h4>Alternatives:</h4>
                    <p>The only alternative to a pulpotomy is extraction, and placement of a space maintainer. However,
                        if it is possible to save the baby tooth, this is the best alternative because it preserves the
                        appropriate spacing for the adult dentition.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modal--sedation" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Sedation Dentistry</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image hidden-xs hidden-sm"><img src="assets/services/sedation.jpg" alt="quality services from {{ mainDoctor }}"></div>
                    <h4>Nitrous Oxide</h4>
                    <p>Some children are given nitrous oxide/oxygen, or what you may know as laughing gas, to relax them
                        for their dental treatment. Nitrous oxide/oxygen is a blend of two gases, oxygen and nitrous
                        oxide. Nitrous oxide/oxygen is given through a small breathing mask which is placed over the
                        child's nose, allowing them to relax, but without putting them to sleep. The American Academy of
                        Pediatric Dentistry, recognizes this technique as a very safe, effective technique to use for
                        treating children's dental needs. The gas is mild, easily taken, then with normal breathing, it
                        is quickly eliminated from the body. It is non-addictive. While inhaling nitrous oxide/oxygen,
                        your child remains fully conscious and keeps all natural reflexes.</p>
                    <h5>Prior to your appointment:</h5>
                    <p> Please inform us of any change to your child's health and/or medical condition.</p>
                    <p>Tell us about any respiratory condition that makes breathing through the nose difficult for your
                        child. It may limit the effectiveness of the nitrous oxide/oxygen.</p>
                    <p>Let us know if your child is taking any medication on the day of the appointment.</p>
                    <h4>Conscious Sedation</h4>
                    <p>Conscious Sedation is recommended for apprehensive children, very young children, and children
                        with special needs. It is used to calm your child and to reduce the anxiety or discomfort
                        associated with dental treatments. Your child may be quite drowsy, and may even fall asleep, but
                        they will not become unconscious.</p>
                    <p>There are a variety of different medications, which can be used for conscious sedation. The
                        doctor will prescribe the medication best suited for your child's overall health and dental
                        treatment recommendations. We will be happy to answer any questions you might have concerning
                        the specific drugs we plan to give to your child.</p>
                    <h5>Prior to your appointment:</h5>
                    <p>Please notify us of any change in your child's health and/or medical condition. Do not bring your
                        child for treatment with a fever, ear infection or cold. Should your child become ill, contact
                        us to see if it is necessary to postpone the appointment.</p>
                    <p>You must tell the doctor of any drugs that your child is currently taking and any drug reactions
                        and/or change in medical history.</p>
                    <p>Please dress your child in loose fitting, comfortable clothing.</p>
                    <p>Please make sure that your child goes to the bathroom immediately prior to arriving at the
                        office.</p>
                    <p>Your child should not have solid food for at least 6 hours prior to their sedation appointment
                        and only clear liquids for up to 4 hours before the appointment.</p>
                    <p>The child's parent or legal guardian must remain at the office during the complete procedure.</p>
                    <p>Please watch your child closely while the medication is taking effect. Hold them in your lap or
                        keep close to you. Do not let them "run around."</p>
                    <p>Your child will act drowsy and may become slightly excited at first.</p>
                    <h5>After the sedation appointment:</h5>
                    <p>Your child will be drowsy and will need to be monitored very closely. Keep your child away from
                        areas of potential harm.</p>
                    <p>If your child wants to sleep, place them on their side with their chin up. Wake your child every
                        hour and encourage them to have something to drink in order to prevent dehydration. At first it
                        is best to give your child sips of clear liquids to prevent nausea. The first meal should be
                        light and easily digestible.</p>
                    <p>If your child vomits, help them bend over and turn their head to the side to insure that they do
                        not inhale the vomit.</p>
                    <p>Because we use local anesthetic to numb your child's mouth during the procedure, your child may
                        have the tendency to bite or chew their lips, cheeks, and/or tongue and/or rub and scratch their
                        face after treatment. Please observe your child carefully to prevent any injury to these
                        areas.</p>
                    <p>Please call our office for any questions or concerns that you might have.</p>
                    <h4>Outpatient General Anesthesia</h4>
                    <p>Outpatient General Anesthesia is recommended for apprehensive children, very young children, and
                        children with special needs that would not work well under conscious sedation or I.V. sedation.
                        General anesthesia renders your child completely asleep. This would be the same as if he/she was
                        having their tonsils removed, ear tubes, or hernia repaired. This is performed in a hospital or
                        outpatient setting only. While the assumed risks are greater than that of other treatment
                        options, if this is suggested for your child, the benefits of treatment this way have been
                        deemed to outweigh the risks. Most pediatric medical literature places the risk of a serious
                        reaction in the range of 1 in 25,000 to 1 in 200,000, far better than the assumed risk of even
                        driving a car daily. The inherent risks if this is not chosen are multiple appointments,
                        potential for physical restraint to complete treatment and possible emotional and/or physical
                        injury to your child in order to complete their dental treatment. The risks of NO treatment
                        include tooth pain, infection, swelling, the spread of new decay, damage to their developing
                        adult teeth and possible life threatening hospitalization from a dental infection.</p>
                    <h5>Prior to your appointment:</h5>
                    <p>Please notify us of any change in your child's health. Do not bring your child for treatment with
                        a fever, ear infection or cold. Should your child become ill, contact us to see if it is
                        necessary to postpone the appointment.</p>
                    <p>You must tell the doctor of any drugs that your child is currently taking and any drug reactions
                        and/or change in medical history.</p>
                    <p>Please dress your child in loose fitting, comfortable clothing.</p>
                    <p>Your child should not have milk or solid food after midnight prior to the scheduled procedure and
                        clear liquids ONLY (water, apple juice, Gatorade) for up to 6 hours prior to the
                        appointment.</p>
                    <p>The child's parent or legal guardian must remain at the hospital or surgical site waiting room
                        during the complete procedure.</p>
                    <h5>After the appointment:</h5>
                    <p>Your child will be drowsy and will need to be monitored very closely. Keep your child away from
                        areas of potential harm.</p>
                    <p>If your child wants to sleep, place them on their side with their chin up. Wake your child every
                        hour and encourage them to have something to drink in order to prevent dehydration. At first it
                        is best to give your child sips of clear liquids to prevent nausea. The first meal should be
                        light and easily digestible.</p>
                    <p>If your child vomits, help them bend over and turn their head to the side to insure that they do
                        not inhale the vomit.</p>
                    <p>Prior to leaving the hospital/outpatient center, you will be given a detailed list of "Post-Op
                        Instructions" and an emergency contact number if needed.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modal--post-op" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Post-Op Care</h3>
                </div>
                <div class="modal-body">
                    <div class="modal-image hidden-xs hidden-sm"><img src="assets/services/homecare.jpg" alt="quality services from {{ mainDoctor }}"></div>
                    <h4>Extractions</h4>
                    <h5>Bleeding:</h5>
                    <p>Most of the bleeding should have subsided by the time you have left the office. It is important
                        to keep pressure on the extraction area for about 30 minutes after extraction. This can be done
                        with the gauze provided when you left the office. If the site begins to bleed again, have the
                        child bite on wet gauze for 10 minutes.</p>
                    <h5>Swelling:</h5>
                    <p>Most likely swelling after an extraction is due to your child biting the area that was
                        anesthetized without realizing it. Place ice bags around the area if it is the day of
                        extraction. Call to make an appointment to evaluate the severity of the swelling. If the
                        swelling is rapidly progressing call us as soon as possible.</p>
                    <h4>Space Maintainers</h4>
                    <h5>Becomes Loose:</h5>
                    <p>If the appliance is very loose and can be easily removed from mouth, take appliance out and place
                        in a safe place. If slightly loose, leave in mouth. Call for an appointment to have appliance
                        re-cemented as soon as possible.</p>
                    <h5>Teeth Are Coming In:</h5>
                    <p>If the adult teeth are starting to erupt where the prematurely lost baby was please make an
                        appointment to have your child evaluated for the removal of the space maintainer.</p>
                    <h4>Fillings & Crowns</h4>
                    <h5>Pain:</h5>
                    <p>It is normal for your child to have some soreness in the area they had treatment done. Children's
                        Tylenol or Motrin should alleviate the pain. If your child is still having difficulties after a
                        day or two, please call the office for a follow up appointment. If the pain is severe, not
                        alleviated by pain medications, or swelling occurs please call as soon as possible to discuss
                        the situation with the doctor.</p>
                    <h5>Swelling:</h5>
                    <p>If your child experiences swelling after treatment, it is likely due to lip biting in the
                        anesthetized area. However, if you do not see teeth marks in the area and the swelling is
                        increasing please call the office as soon as possible.</p>
                    <h4>Sedation (Pre-Care and Post-Care Information)</h4>
                    <p>Your child should have nothing to eat or drink four hours before the sedation appointment. This
                        is extremely important to the health and safety of your child.</p>
                    <h5>Eating After the Appointment:</h5>
                    <p>Start by giving your child water or apple juice after the appointment when they request it.</p>
                    <p>If your child can tolerate the apple juice, move to soft foods such as yogurt, pudding, etc.
                        Gradually increase to normal foods as they are able to tolerate it.</p>
                    <h5>Sleeping:</h5>
                    <p>Your child will likely go home and take a nap after sedation. This is normal. Place them on their
                        side. Do not leave your child unattended, or place anything (such as gauze) in their mouth while
                        they are sleeping.</p>
                    <h5>Activity:</h5>
                    <p>It is best that your child rest for the remainder of the day. Watching videos at home is an
                        excellent idea. Remember, your child is not as awake as they think they are. Avoid swimming,
                        biking, vigorous activity for the remainder of the day. Your child may resume normal activity
                        the day after their appointment.</p>
                    <h5>Lip Biting After Treatments:</h5>
                    <p>Occasionally children will bite themselves in the area they were anesthetized without realizing
                        it. The area can become quite swollen and painful. Your child will need to remain on a soft diet
                        until the area heals to avoid re-injuring themselves. Give Children's Motrin/Tylenol as needed
                        for the pain.</p>
                    <p>Children deserve to experience a gentle, caring approach to their dental care. A positive dental
                        experience will help them build confidence and knowledge, setting a great precedent for their
                        future dental health. Your child will always be grateful for the gift of a beautiful, healthy
                        smile.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
